In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [6]:
file = ('resources/v_dem_cy_full+others_v11.1.csv')

In [10]:
df = pd.read_csv(file, low_memory=False)
df.head(5)

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_miurbpop,e_pefeliex,e_peinfmor,e_pelifeex,e_pematmor,e_wb_pop,e_civil_war,e_miinteco,e_miinterc,e_pt_coup
0,Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,Mexico,MEX,3,1792,1792-12-31,1,1,Viceroyalty of New Spain,1789,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,Mexico,MEX,3,1793,1793-12-31,1,1,Viceroyalty of New Spain,1789,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27192 entries, 0 to 27191
Columns: 4176 entries, country_name to e_pt_coup
dtypes: float64(4130), int64(17), object(29)
memory usage: 866.3+ MB

In [12]:
df.describe()

,country_id,year,project,historical,codingstart,codingend,codingstart_contemp,codingend_contemp,codingstart_hist,codingend_hist,...,e_miurbpop,e_pefeliex,e_peinfmor,e_pelifeex,e_pematmor,e_wb_pop,e_civil_war,e_miinteco,e_miinterc,e_pt_coup
count,27192.000000,27192.000000,27192.000000,27192.000000,27192.000000,27192.000000,25802.000000,25802.000000,16674.000000,16674.000000,...,18481.000000,7567.000000,12176.000000,24253.000000,2270.000000,9.528000e+03,13879.000000,21218.000000,21218.000000,10291.000000
mean,107.185459,1927.171300,0.416998,0.613195,1842.236320,2011.600213,1906.055073,2019.450740,1799.129363,1918.093979,...,3609.794986,60.893545,79.884311,48.689584,344.441498,3.161210e+07,0.060955,0.116269,0.086483,0.061219
std,82.403403,63.991882,0.593960,0.487027,58.006255,34.176034,16.557811,4.935811,19.835892,19.351719,...,9794.413880,12.657182,64.491522,17.140118,396.869134,1.160589e+08,0.239257,0.320555,0.281083,0.316601
min,3.000000,1789.000000,0.000000,0.000000,1789.000000,1859.000000,1900.000000,1948.000000,1789.000000,1859.000000,...,0.400000,8.030000,1.500000,1.500000,1.000000,4.170000e+04,0.000000,0.000000,0.000000,0.000000
25%,46.000000,1879.000000,0.000000,0.000000,1789.000000,2020.000000,1900.000000,2020.000000,1789.000000,1920.000000,...,141.480000,50.004000,24.600000,33.200000,40.000000,2.264865e+06,0.000000,0.000000,0.000000,0.000000
50%,91.000000,1937.000000,0.000000,1.000000,1815.000000,2020.000000,1900.000000,2020.000000,1789.000000,1920.000000,...,617.360000,61.667000,65.000000,45.100000,216.500000,6.997232e+06,0.000000,0.000000,0.000000,0.000000
75%,155.000000,1981.000000,1.000000,1.000000,1900.000000,2020.000000,1900.000000,2020.000000,1800.000000,1920.000000,...,2417.100000,72.486000,123.000000,64.800000,520.000000,2.040815e+07,0.000000,0.000000,0.000000,0.000000
max,373.000000,2020.000000,2.000000,1.000000,2011.000000,2020.000000,2011.000000,2020.000000,1878.000000,2010.000000,...,170817.400000,84.580000,420.000000,85.300000,2680.000000,1.392730e+09,1.000000,1.000000,1.000000,2.000000

In [ ]:
df['country_name'].unique()